/* purgecss ignore */

/* PrismJS 1.23.0 */

/* Base */
code[class*='language-'],
pre[class*='language-'] {
  @apply text-left whitespace-pre font-mono text-base leading-normal text-white bg-none;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
  @apply overflow-auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  @apply bg-gray-700;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  @apply rounded;
  white-space: normal;
}

/* Tokens */
.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-400;
}

.token.punctuation {
  @apply text-gray-200;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  @apply text-red-300;
}

.token.function-name {
  @apply text-blue-400;
}

.token.boolean,
.token.number,
.token.function {
  @apply text-primary-500;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  @apply text-yellow-300;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  @apply text-purple-400;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  @apply text-green-300;
}

.token.operator,
.token.entity,
.token.url {
  @apply text-green-400;
}

.token.important,
.token.bold {
  @apply font-bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  @apply cursor-help;
}

.token.inserted {
  @apply text-green-700;
}
